* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.titel {
  background: #2C3E50;
  border: 1px solid #979797;
  font-family: Arial;
  font-size: 18px;
  color: #FFFFFF;

  width: 1320px;
  height: 146px;
  margin-left: 29px;
  margin-top: 25px;
}
